@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

html {
  scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important;
}

body { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif; }
:root { --color-fd-primary: oklch(0.43 0.08 185); --color-fd-primary-foreground: white; }
.dark { --color-fd-primary: oklch(0.8 0.12 180); --color-fd-primary-foreground: oklch(0.18 0.02 180); }
